#hero-selection {
    display: none;
}

body {
    overflow: hidden;
    margin: 0 0;
    font-family: motschcc;
}

#pre-game {
    text-align: center;
}

#heroes {
    display: inline-flex;
    grid-template-columns: 1fr 1fr;
    
}

#in-game {
    display: none;
}

#chat {
    width: 250px;
    height: 200px;
    outline: 1px black solid;
    background-color: rgba(220,220,220,0.3);
    position: absolute;
    font-size: 12px;
}

#chats {
    height: 165px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

#chatInput {
    position:absolute;
    bottom:0;
    left:0;
    width:98%;
}
